<div class="container" *ngIf="recipeDetailsObservable|async as recipeDetails">
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="title">{{recipeDetails.title}}</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4" style="text-align: center;">
            <div class="card">
                <div class="card-body" [innerHtml]="recipeDetails.summary">
                </div>
            </div>
        </div>
        <div class="col-3">
            <img class="img" [src]="recipeDetails.image">
        </div>
    </div><br>
    <div *ngIf="isLoggedIn()" class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <button mat-raised-button color="accent"><mat-icon>add_circle</mat-icon> Add to planner</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <h3>Ingredients</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let ingredient of recipeDetails.extendedIngredients">
                    <app-ingredient [ingredient]="ingredient"></app-ingredient>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <mat-stepper orientation="vertical">
                <ng-template matStepperIcon="edit">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <mat-step *ngFor="let step of getSteps(recipeDetails); index as i" label="Step {{i + 1}}">
                    <!-- <mat-step-header label="Step {{i}}"></mat-step-header> -->
                    <app-step [step]="step"></app-step>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>