.form-field {
    width: 100%;
}

.slider {
    margin: 10px;
}

mat-slider {
    width: 300px;
}

.example-chip-list {
    width: 100%;
}

mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
}


.search-grid {
    max-width: 1000px;
}

