::ng-deep .success-style {
    padding: 50px;
    text-align: center;
    background-color: #aed581;
    color: black;
}

::ng-deep .error-style {
    padding: 50px;
    text-align: center;
    background-color: #ef9a9a;
    color: black;
}

.container {
    padding: 50px;
    text-align: center;
}

.input {
    width: 100%;
}

.form {
    width: 400px;
}

