<div>
    <table *ngIf="weekPlanObservable|async as week">
        <tr>
            <td colspan="8" class="heading today" [ngClass]="thisWeek ? 'today': ''" id="parent">
                <button mat-icon-button (click)="previousWeek()" class="child">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <span class="example-spacer">
                    <h1 class="child"><strong>{{weekTitle}}</strong></h1>
                </span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="nextWeek()" class="child">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <th class="day-column heading"></th>
            <!-- [ngClass]="isToday(i) ? 'today': ''" -->
            <th *ngFor="let day of weekDaysNames; index as i" class="heading">
                {{day}}
            </th>
        </tr>
        <tr *ngFor="let meal of meals; index as i">
            <td><span class="day-column rotate">{{meal}}</span></td>
            <td *ngFor="let d of daysNumbers">
                <div class="meal">
                    <mat-icon *ngIf="!hasMeal(i, d)">
                        no_meals
                    </mat-icon>

                    <app-item *ngFor="let item of getMeals(i, d)" [item]="item"></app-item>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="day-column rotate">Summary</span></td>
            <td *ngFor="let d of daysNumbers">
                <div class="meal" *ngIf="!hasSummary(d)">
                    <mat-icon>
                        analytics
                    </mat-icon>
                </div>
                <div *ngFor="let nutrient of getNutrients(d)" class="summary">
                    {{nutrient.name}}: {{nutrient.amount}}{{nutrient.unit}} ~ {{nutrient.percentOfDailyNeeds}}%
                </div>
            </td>
        </tr>
    </table>
</div>