<div class="container">
    <div class="row">
        <div class="col-10" style="text-align: center;">
            {{step.step}}
        </div>
    </div><br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <label *ngIf="step.ingredients.length != 0" for="ingredients">Ingredients</label>
            <ul id="ingredients" class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let ingredient of step.ingredients">
                    <app-equipment [ingredient2]="ingredient" [imageBase]="ingredinetBase"></app-equipment>
                </li>
            </ul>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <label *ngIf="step.equipment.length != 0" for="equipments">Equipments</label>
            <ul id="equipments" class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let equipment of step.equipment">
                    <app-equipment [ingredient2]="equipment" [imageBase]="equipmentBase"></app-equipment>
                </li>
            </ul>
        </div>
    </div>
</div>